.title{
    display: none;
}

.blog_year {
  text-align: center;
}

.blog_date {
}

.blog_link {
  text-indent: 2em;
}

.blog_abstract {
  text-indent: 2em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a:link, a:visited {
  color: #541103;
  text-decoration: none;
  border-bottom: #ab270c 0.125em solid;
}

a:hover, a:active {
  color: #541103;
  text-decoration: none;
  border-bottom: #ff562b 0.125em solid;
}



p {
 font-size: 22px;
 font-family: Arial;
 color: #541103;
}

table {
 font-size: 22px;
 font-family: Arial;
 color: black;
  } 
  
body {
  background-image: url('images/backgroundforDadlighter.jpeg');
}

.navbar {
  font-size: 22px;
  font-family: Arial;
}

.navbar-brand {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-image: url('images/penguin.png');
  background-size: 70px;
  width: 70px;
}

.navbar-header {
  background-image: url('images/backgroundforDadlighter.jpeg');
}



