/*-- scss:rules --*/

/*
.navbar-brand > img {
  max-height: 60px;
}
*/

.navbar {
  font-size: 22px;
  font-family: Arial;
}

/*
.navbar .navbar-brand {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-image: url('images/penguin.png');
  background-size: 80px;
  width: 0px;
}


.navbar .navbar-header {
  //background-image: url('images/backgroundforDadlighter.jpeg');
}

*/

.title{
  display: none;
}

.blog_year {
  text-align: center;
}

.blog_date {
  margin-top: 2em;
  margin-bottom: 1em;
}

.blog_link {
}

.blog_title {
  padding-left: 2em;
  font-weight: bold;
  font-style: italic;
}

.blog_abstract {
  padding-left: 2em;
  margin-bottom: 2em;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
  color: #444444;
}
 
a:link, a:visited {
  color: #FAF5E1;
  //text-decoration: underline;
  //text-decoration-color: #5c829e;
  //text-decoration-thickness: .15em;
  //text-underline-offset: 5px;
}

a:hover, a:active {
  background-color: #e4edf2;
  text-decoration: underline;
  text-decoration-color: #5c829e;
  text-decoration-thickness: .15em;
  text-underline-offset: 5px;
  //text-decoration: none;
  
}

p {
 font-size: 20px;
 font-family: "Verdana", ""Arial", "Helvetica"";
 color: #000000;
}

table {
 font-size: 20px;
 font-family: "Verdana", ""Arial", "Helvetica"";
 color: black;
  } 
  
/*
body {
  //background-image: url('images/backgroundforDadlighter.jpeg');
}
*/

h1 {
    margin-bottom: 1em;
    margin-top: 1em;
}

h2 {
    margin-bottom: 1em;
    margin-top: 1em;
}

.center{
  text-align: center;
}

div.news{
  background-color: #d5ddf2;
  width: 300px;
  border: 3px solid black;
  padding: 50px;
  margin: 1px;
  font-family: Verdana;
  font-size: 16;
}